  body {
    background-color: rgb(214, 255, 217);
    font-family: monospace;
    margin-top: 100px;
  }

  #phone_no {
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    border: 0.2px solid;
  }

  h1 {
    font-weight: bold;
  }

  label {
    font-size: 16px;
  }

  button {
    font-size: 22px;
    border-radius: 10px;
    color: white;
    background-color: rgb(61, 200, 255);
    padding: 10px;
    border: 0.2px solid;
  }
